* { margin: 0; padding: 0; }

@font-face {
	font-family: GoT;
	src: url('../styles/GOT.ttf');
}

body {
	background: 
		linear-gradient(
      rgba(1, 1, 1, 0.8), 
      rgba(1, 1, 1, 0.8)
    ),
	url('../images/ShameBG.gif') no-repeat center center fixed;
	background-size: cover;
	font-family: 'HelveticaNeue', "Helvetica", sans-serif;
}

.intro {
	background-color: rgba(1,1,1,1);
	position: absolute;
	width: 100%;
	height: 100%;
	background: 
		linear-gradient(
      rgba(1, 1, 1, 0.8), 
      rgba(1, 1, 1, 0.8)
    ),
	url('../images/Sparrow.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	z-index: 100;
}

.start-button {
	color: rgba(255,255,255,.8);
	width: 460px;
	display: block;
	position: absolute;
	top: 40%;
	text-align: center;
	font-family: GoT;
	letter-spacing: 2px; 
	cursor: pointer;
	margin-left: -230px;
	left: 50%;
	border: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;
  	padding: 30px 0 30px 0;
  	border-radius: 60px;
  	z-index: 1000;
  	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.start-button:hover {
	background-color: white;
	color: rgba(1,1,1,1);
	letter-spacing: 2.2px;
}

.shame-transform {
	color: white;
	background-color: red;
	width: 240px;
	height: 240px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.9);
	text-align: center;
	z-index: 1000;
	position: absolute;
	margin-left: -120px;
	left: 50%;
	top: 30%;
	padding: 0;
}

/*----Outer Stroke----*/
/*.shame-transform:hover::after {
	content: '';
	width: 216px;
	height: 216px;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255,.4);
	position: absolute;
	top: -10px;
	left: -10px;
}*/

.shame-transform p { display: none; }

.shame-transform .shakey {
	display: block;
}

.bell {
	width: 152px;
	background: url('../images/Shame.svg') no-repeat;
	height: 114px;
	margin: 30px auto 0 auto;	
}

.shakey {
	width: 145px;
	background: url('../images/shakey.svg') no-repeat;
	height: 139px;
	margin: 48px auto 0 auto;
	display: none;
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;	
}

.shakey-fadein {
	display: block;
	opacity: 1;
}

.ring {
	-webkit-animation: ring 2s ease-in-out; 
	animation: ring 2s ease-in-out;

}

.show-button {
	display: block;
}

/*Ringing Animation */

@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }

	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.start-button { width: 240px; top: 30%; font-size: .7em; line-height: 150%; margin-left: -120px; }
	.shame-transform { width: 240px; height: 240px; top: 20%; }
}
